button {
    margin-right: 50px;
}

body {
    background-color: darkgrey;
}

.div {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 40%;
    top: 50%;
    margin: -150px 0 0 -100px;
}

.a {
    background-color: white;
    border: none;
}

.b {
    background-color: blue;
    border: none;
}

.c {
    background-color: white;
    border: 3px blue solid;
}

.d {
    border: none;
    background-color: white;
}